<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>IST Mart</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" />

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script src="main.js"></script>

	<style>
		.flex-item-1 {flex:1 1 0;}
		.radius-0 {border-radius:0 !important; margin-bottom:0 !important;}
		.vh-100 {min-height:100vh;}
	</style>
</head>
<body ng-app="istMart" ng-controller="mainCtrl">
	<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
		<div class="container-fluid">
			<a class="navbar-brand font-weight-bold" href="#">IST-Mart</a>
			
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			</form>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row vh-100">
			<div class="col-12 col-lg-8 col-xl-9 py-4">
				<h2 class="font-weight-normal mb-5">Laptops:</h2>

				<ul class="list-unstyled row">
					<li ng-repeat="product in products" class="col-12 col-sm-6 col-xl-4">
						<div class="card">
							<img class="card-img-top" ng-src="{{ product.largeImage }}" />

							<div class="card-title">{{ product.name }}</div>

							<div class="text-center">
								<div class="badge badge-success">{{ product.salePrice | currency }}</div>
							</div>

							<button type="button" class="btn w-100 mt-4" ng-click="addToCart(product)" ng-disabled="product.inCart">
								<span ng-if="product.inCart == false">Add to Cart</span>
								<span ng-if="product.inCart == true">In Cart</span>
							</button>
						</div>
					</li>
				</ul>
			</div>

			<div class="col-12 col-lg-4 col-xl-3 bg-light border-left p-4">
				<h2 class="font-weight-normal mb-5">Cart:</h2>

				<ul class="list-group">
					<li class="list-group-item" ng-repeat="product in cart">
						<b>{{ product.name }}</b>
						<div class="text-right text-primary">
							{{product.salePrice | currency}}
						</div>
					</li>
				</ul>

				<div>
					<b>Items In Cart: </b> {{ cart.length }}
				</div>

				<div>
					<b>Subtotal: </b> {{ subtotal() | currency }}
				</div>
			</div>
		</div>
	</div>
</body>
</html>