body {
    font-family: 'Economica', sans-serif;
      background-color: #B1B5BF;
      margin:8px;
      font-size: 15px;
}

h1{
    font-family: 'Economica', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 0 0;
}

h6{
    font-family: 'Economica', sans-serif;
    font-size: .90em;
    font-weight: normal;
    margin: 10px 0 10px 0;
}

h3{
    font-family: 'Economica', sans-serif;
}
.container {
    width: 960px;
    margin: 0 auto;
   
}



/*
*/

header { background-color: #FFCAD4;
        color: #00607C;
        padding: 10px 0 10px 0;
        font-size: 40px
     
}



.para{
    font-size: 25px;
    background-color:#242038;
color: #fff;
margin: 0 0 10px 0;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 30px;
}


.navitem {
    display: inline-block;
    padding: 5px 10px;


}

.active {
    border-bottom: 1px solid #242038;
}

.heading-box {
    background-color: #242038;
    text-align: center;
    color: #fff;
}

.text-time {
    color: #242038;
}



.image{
    position: relative;

}
=

.container-one{
    width: 9600px;
    margin: 0 0 0 0;
}

.sidebar{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 320px;
    padding-right: 10px;
}

.heading-box{
    margin-left: auto;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 25px;
}

.footbox{
    margin: 10px 0 0 0;
    background-color: #fff;
    height: 200px;
}

.items{
    padding: 35px 0 0 25px;
    font-size: 25px;
}


.pics{
    margin-bottom: 20px;
    z-index: -2;
}

.toppers{
    text-align: center;
    background-color: #242038;
    color: #fff;
}

.pgraph{
    font-size: 16px;
    background-color:#242038;
color: #fff;
padding: 10px;
margin: 20px 0;
}

.flog{
    padding-bottom: 15px;
}

.festlinks{
    text-decoration: none;
    color: #fff;
}


#contact{
    font-size: 65px;
    color: #242038;
    background-color: #B1B5BF;
    text-align: center;
    padding-top: 50px;
}


.form{
    text-align: center;
    font-size: 35px;
    padding: 5px;
}

.banners{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);>

}

.zindex{
    z-index: -2;
}

.bann{
     font-size: 100px;
     text-align: right;
}

#myCarousel{
    z-index: -2;
}

#home-one{
    background-color: #B1B5BF;
}

.back{
    text-align: center;
    font-size: 35px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 8px;
    margin: 50px 0 150px 0;

}


.form-two{
    padding-right: 200px;
}

.spotify{
    padding-top: 10px;
}






